/* Reset y configuraciones de raíz */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden; 
  -webkit-overflow-scrolling: touch; /* suaviza scroll en iOS */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
  height: auto;
}

body {
  background-color: var(--bg-color);
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-color);
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(131, 192, 193, 0.8) transparent;
}

/* Modo oscuro */
html.dark {
  --bg-color: #0a0a0a;
  --text-color: #f0f0f0;
}

/* Modo claro (por defecto) */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(131, 192, 193, 0.8); /* color similar al tuyo */
  border-radius: 10px;
}

/* Ajustes finales para móviles */
@media (max-width: 768px) {
  .nav-container {
    position: static;
    width: 100vw !important; /* <-- esto fuerza el ancho completo */
    max-width: 100%;
    height: auto;
    padding: 1rem 0.5rem;
    box-shadow: none;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .container-avatar {
    margin: 0.3rem 0;
    text-align: center;
  }

  .avatar {
    width: 100%;
    height: auto;
  }

  .icons-container {
    margin-top: 0.2rem;
    gap: 0.4rem;
    justify-content: center;
  }

  .icon-whatsapp,
  .icon-gmail,
  .icon-linkedin,
  .icon-download {
    width: 50px;
    height: 50px;
  }

  .title {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
  }

  .buttons-container {
    margin-top: 0.7rem;
    gap: 0.4rem;
  }

}
